<template>
  <div>
    <v-row>
      <v-col cols="9"> </v-col>
      <v-col cols="1" class="mr-3" v-if="role === 'admin'">
        <v-btn class="black--text" @click="postApiProduct = !postApiProduct"
          >เพิ่มสินค้าใหม่</v-btn
        >
      </v-col>
      <v-col cols="1" v-if="role === 'admin'">
        <v-btn
          ><a href="/billsaleadmin" class="text-decoration-none black--text"
            >รายการคำสั่งซื้อ</a
          ></v-btn
        >
      </v-col>
      <v-col cols="1" class="mr-3" v-if="role === '' || role === 'user'">
        <v-btn @click="showtrolley()">ในตะกร้า ( {{trolley.length}} )</v-btn>
      </v-col>
      <v-col cols="1" v-if="role === '' || role === 'user'">
        <v-btn @click="$router.push('orderhistory')">ประวัติการสั่งซื้อ</v-btn>
      </v-col>
    </v-row>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="3"
          v-for="(item, index) in resProducts"
          :key="index"
        >
          <v-card width="450">
            <v-card-title primary-title class="justify-center pb-2">
              <span class="text-caption font-weight-medium"
                >{{ item.name }}
              </span>
            </v-card-title>
            <div class="pa-2">
              <v-img src="../assets/000.png" />
            </div>
            <v-card-text>
              <p class="p-text p-card">
                {{ item._id }} {{ item.name }} (มีสินค้าทั้งหมด
                {{ item.amount }} ชิ้น)
              </p>
            </v-card-text>
            <div class="d-flex justify-space-between align-center">
              <h3 class="ml-4">฿ {{ item.cost }}</h3>
              <v-card-actions class="pr-2">
                <v-btn color="orange" @click="selectItem(item)">
                  {{ roleMode }}
                </v-btn>
              </v-card-actions>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <!-- dialog put -->
    <v-dialog v-model="showDialog" max-width="500px">
      <v-card>
        <v-card-title primary-title> {{ roleMode }} </v-card-title>
        <div class="pa-2 d-flex">
          <v-img src="../assets/000.png" class="item-select-img" />
        </div>
        <v-card-text>
          <v-text-field
            name="productId"
            label="รหัสสินค้า"
            id="productId"
            v-model="itemSelect._id"
            :disabled="!showEdit"
          >
          </v-text-field>
          <v-text-field
            name="productName"
            label="ชื่อสินค้า"
            id="productName"
            v-model="itemSelect.name"
            :disabled="!showEdit"
          >
          </v-text-field>

          <v-text-field
            name="price"
            label="ราคาต่อหน่วย"
            id="price"
            v-model="itemSelect.cost"
            :disabled="!showEdit"
          >
          </v-text-field>

          <v-autocomplete
            name="size"
            id="size"
            v-model="itemSelect.size"
            :items="productSize"
            label="ไซส์"
            placeholder="เลือก"
            required
            :rules="[required]"
            clearable
          ></v-autocomplete>
          <v-autocomplete
            name="color"
            id="color"
            v-model="itemSelect.color"
            :items="productColors"
            label="สี"
            placeholder="เลือก"
            required
            :rules="[required]"
            @change="checkColor"
            clearable
          ></v-autocomplete>

          <v-text-field
            name="amount"
            label="จำนวน"
            id="amount"
            v-model="productAmount"
            type="number"
            min="1"
            :max="itemSelect.amount"
            @input="checkAmount"
          >
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="addItem(itemSelect)">เพิ่มลงตะกร้า</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="showDialog = !showDialog" text
            >ยกเลิก</v-btn
          >
          <v-btn color="success" @click="saleItems(itemSelect)" text
            >{{roleMode}}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- dialog create -->

    <v-dialog v-model="postApiProduct" max-width="500px">
      <v-card>
        <v-card-title primary-title>เพิ่มสินค้าใหม่</v-card-title>
        <v-card-text>
          <v-text-field
            name="productId"
            label="รหัสสินค้า"
            id="productId"
            v-model="newProduct.productId"
            :rules="[required]"
            :change="searchProduct(newProduct.productId)"
            clearable
          >
          </v-text-field>
          <v-text-field
            name="productName"
            label="ชื่อสินค้า"
            id="productName"
            v-model="newProduct.name"
            :rules="[required]"
            clearable
          >
          </v-text-field>

          <v-text-field
            name="price"
            label="ราคาต่อหน่วย"
            id="price"
            v-model="newProduct.cost"
            :rules="[required]"
            clearable
          >
          </v-text-field>

          <v-autocomplete
            name="size"
            id="size"
            v-model="newProduct.detail.size"
            :items="productSize"
            label="ไซส์"
            placeholder="เลือก"
            required
            :rules="[required]"
            clearable
          ></v-autocomplete>
          <v-autocomplete
            name="color"
            id="color"
            v-model="newProduct.detail.color"
            :items="productColors"
            label="สี"
            placeholder="เลือก"
            required
            :rules="[required]"
            clearable
            @change="checkColor"
          ></v-autocomplete>

          <v-text-field
            name="amount"
            label="จำนวน"
            id="amount"
            v-model="newProduct.amount"
            type="number"
            min="1"
            :rules="[required]"
          >
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="postApiProduct = !postApiProduct" text
            >ยกเลิก</v-btn
          >
          <v-btn color="success" @click="creteProduct(newProduct)" text
            >เพิ่ม</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      trolley: [],
      token: {},
      postApiProduct: false,
      resProducts: [],
      userId: null,
      role: "",
      showEdit: false,
      productSize: ["M", "L"],
      productColors: ["แดง", "ขาว"],
      productColor: "",
      productAmount: 1,
      itemSelect: {
        _id: null,
        name: "",
        cost: null,
        amount: null,
        size: "",
        color: "",
      },
      newProduct: {
        productId: "",
        name: "",
        detail: {
          size: "",
          color: "",
        },
        cost: 0,
        amount: 1,
      },
      showDialog: false,

      postdata: {
        username: "",
        password: "",
        firstName: "",
        lastName: "",
        age: 0,
        gender: "",
      },

      postSaleProduct: {
        userId: "",
        productList: []
      }
    };
  },

  async created() {
    await this.getProducts();
    this.token = await this.getAuth()
    this.userId = this.token.userId
    this.role = this.token.role
  },

  computed: {
    roleMode() {
      return this.role == "admin" ? "เพิ่มสินค้า" : "ซื้อเลย";
    },
  },

  methods: {
    async getAuth() {
      const response = await this.axios.get("http://localhost:3000/users/auth/login", {
        headers: {
          Authorization: `Bearer ${this.$cookies.get("token")}`
        }
      })
      console.log(response.data.data)
      return response.data.data
    },
    showtrolley() {

      console.log('สินค้าในตระกร้า')
      this.trolley.map((item) => {
        console.log(item)
      })
    },
    async searchProduct(pId){
      await this.axios.get('http://localhost:3000/products/distinct/product').then((res) => {
        if(res.data.success === true) {
          res.data.data.map((item) => {
            if(item._id == pId){
              console.log('have')
              this.newProduct.name = item.name
              this.newProduct.cost = item.cost
            }
            // else {
            //   console.log('not have')
              
            // }
          })
        }
      })  
    },
    async getProducts() {
      await this.axios
        .get("http://localhost:3000/products/distinct/product")
        .then((res) => {
          console.log(res.data.data);
          this.resProducts = res.data.data;
        });
    },

    async selectItem(item) {
      this.itemSelect._id = item._id;
      this.itemSelect.name = item.name;
      this.itemSelect.cost = item.cost;
      this.itemSelect.amount = item.amount;
      this.itemSelect.size = item.size;
      this.itemSelect.color = item.color;
      if (this.role === "admin") {
        this.showEdit = !this.showEdit;
      }
      this.showDialog = !this.showDialog;
    },

    async addItem(item) {
      let temp = {}
      temp._id = item._id;
      temp.name = item.name;
      temp.cost = item.cost;
      temp.amount = this.productAmount;
      temp.size = item.size;
      temp.color = item.color;
      this.trolley.push(temp)

      this.showDialog = !this.showDialog;
    },

    checkAmount() {
      if (parseInt(this.productAmount) > parseInt(this.itemSelect.amount)) {
        alert("จำนวนที่กรอกมากกว่าจำนวนที่มีอยู่");
        this.productAmount = this.itemSelect.amount; // Clear the input field
      } else if (parseInt(this.productAmount) < 1) {
        alert("จำนวนการสั่งซื้อไม่ถูกต้อง");
        this.productAmount = 1;
      }
    },

    async creteProduct(item) {
      let check =
        item.productId === "" ||
        item.name === "" ||
        item.cost == 0 ||
        item.amount == 0 ||
        item.detail.size === "" ||
        item.detail.color === "";

      console.log(check);
      if (check) {
        this.$swal({
          title: "ข้อผิดพลาด",
          text: "เพิ่มสินค้าไม่สำเร็จ",
          icon: "error",
        });
      } else {
        await this.axios
          .post("http://localhost:3000/products/", item)
          .then(async (res) => {
            if (res.data.success === true) {
              await this.$swal({
                title: "สำเร็จ",
                text: "เพิ่มสินค้าสำเร็จ",
                icon: "success",
                timer: 2000,
              });
              this.postApiProduct = !this.postApiProduct;
              location.reload();
            }
          });
      }
    },

    async saleItems(item) {
      console.log(item);
      let check = item.size == undefined || item.color == undefined;
      if (check) {
        this.$swal({
          title: "ข้อผิดพลาด",
          text: "ซื้อสินค้าไม่สำเร็จ",
          icon: "error",
        });
      } else {
          let detail = {}
          this.postSaleProduct.userId = this.userId
          detail.productId = item._id
          detail.size = item.size
          detail.color = this.productColor
          detail.amount = this.productAmount
          this.postSaleProduct.productList.push(detail)
          console.log(this.postSaleProduct, "thisssss")
        await this.axios.post('http://localhost:3000/billSales/', this.postSaleProduct).then(async (res) => {
        if (res.data.success === true) {
            await this.$swal({
              title: "สำเร็จ",
              text: "ซื้อสินค้าสำเร็จ",
              icon: "success",
              timer: 2000,
            });
            this.postApiProduct = false
            location.reload();

          }
      })

      }
      console.log(check);
    },

    checkColor() {
      if (this.itemSelect.color == "แดง") {
        this.productColor = "red";
      } else if (this.itemSelect.color == "ขาว") {
        this.productColor = "white";
      }
    },

    required(v) {
      return !!v || "Field is required";
    },
  },
};
</script>

<style>
.v-application .p-text {
  margin-bottom: 0px;
}
.p-card {
  font-size: 0.75rem;
}
.item-select-img {
  width: 80%;
}
.new-item {
  position: absolute;
  margin-left: 90%;
  margin-bottom: 50%;
}
</style>
