<template>
  <v-sheet class="bg-deep-purple pa-12" rounded>
    <v-card class="mx-auto px-6 py-8" max-width="344">
      <v-card-title class="justify-center">
        <h3>ลงชื่อเข้าสู่ระบบ</h3>
      </v-card-title>
      <v-form
        v-model="form"
        @submit.prevent="onSubmit"
      >
        <v-text-field
          v-model="postData.username"
          :readonly="loading"
          :rules="[required]"
          class="mb-2"
          label="ชื่อผู้ใช้"
          clearable
        ></v-text-field>

        <v-text-field
          v-model="postData.password"
          :readonly="loading"
          :rules="[required]"
          label="รหัสผ่าน"
          type="password"
          clearable
        ></v-text-field>

        <br>

        <v-btn
          :disabled="!form"
          :loading="loading"
          color="success"
          size="large"
          type="submit"
          variant="elevated"
          block
        >
          เข้าสู่ระบบ
        </v-btn>
      </v-form>
      <v-card-text class="text-center">
        <a
          class="text-blue text-decoration-none"
          href="/"
          rel="noopener noreferrer"
        >
          ลงทะเบียน <v-icon icon="mdi-chevron-right"></v-icon>
        </a>
      </v-card-text>
    </v-card>
  </v-sheet>
</template>

<script>
import {mapActions} from "vuex/dist/vuex.common"
  export default {
    data: () => ({
      form: false,
      username: null,
      password: null,
      loading: false,
      postData: {
        username: null,
        password: null
      },
    }),

    methods: {
      ...mapActions(["setLogin"]),
      async onSubmit () {
        if (!this.form){
          return
        }
        this.loading = true
        await this.axios.post('http://localhost:3000/users/login', this.postData).then((res) => {
          if (res.data.success === true) {
            this.setLogin(true)
            this.$router.push('home')
            this.$cookies.set("token", res.data.data);
          }
        }).catch((err) => {
          this.$swal({
            title: "เข้าสู่ระบบไม่สำเร็จ",
            text: "กรุณาทำการเข้าสู่ระบบใหม่อีกครั้ง",
            icon: "error",
          }).then(() => {
            location.reload();
          });
          console.log(err)
        })
      },
      required (v) {
        return !!v || 'Field is required'
      },
    },
  }
</script>