<template>
  <div>
    <div class="text-center mb-5">
      <h1>ประวัติการสั่งซื้อ</h1>
    </div>
    <v-container class="d-flex justify-center pa-0">
      <template>
        <v-table density="compact">
          <thead>
            <tr>
              <th class="text-center txx mr-10"></th>
              <th class="text-center txx mr-10">orderId</th>
              <!-- <th class="text-center "></th> -->
              <th class="text-center txx">purchaser</th>
              <!-- <th class="text-center"></th> -->
              <th class="text-center txx">เวลา</th>
              <th class="text-center txx"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in bilSaleList" :key="index">
              <td class="pl-2 pr-5 txx">{{ index + 1 }}</td>
              <td class="pl-2 pr-5 txx">{{ item.orderId }}</td>
              <!-- <td width="30%"></td> -->
              <td class="pl-2 pr-5 txx">{{ item.purchaser }}</td>
              <!-- <td width="30%"></td> -->
              <td class="pl-2 pr-5 txx">{{ item.createdAt }}</td>
              <td class="pl-5 pr-5 txx">
                <v-btn @click="billSaleById(item)" text>รายละเอียด</v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </template>
    </v-container>

    <!-- dialog -->
    <v-dialog v-model="showDialog" max-width="500px">
      <v-card>
        <v-card-title primary-title> {{ bilSaleList.orderId }} </v-card-title>

        <v-card-text>
          <v-text-field
            name="purchaser"
            label="ผู้ซื้อ"
            id="purchaser"
            v-model="bilSaleList.purchaser"
            disabled
          >
          </v-text-field>
          <v-table density="compact">
            <thead>
              <tr>
                <th class="text-center txx mr-10">รหัสสินค้า</th>
                <th class="text-center txx">ไซส์</th>
                <th class="text-center txx">สี</th>
                <th class="text-center txx">จำนวน</th>
                <th class="text-center txx">ราคา/หน่วย</th>
                <th class="text-center txx">ราคารวม</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in bilSaleList.productList" :key="index">
                <td class="pl-4 pr-5 txx">{{ item.productId }}</td>
                <td class="pl-4 pr-5 txx">{{ item.size }}</td>
                <!-- <td width="30%"></td> -->
                <td class="pl-4 pr-5 txx">{{ item.color }}</td>
                <td class="pl-4 pr-5 txx">{{ item.amount }}</td>
                <td class="pl-4 pr-5 txx">{{ item.price / item.amount }}</td>
                <td class="pl-4 pr-5 txx">{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>

          <v-text-field
            name="amount"
            label="ราคารวมทั้งสิ้น"
            id="amount"
            v-model="bilSaleList.totalAmount"
            disabled
          >
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" @click="showDialog = !showDialog" text
            >ปิด</v-btn
          >
          <!-- <v-btn color="success" text>save</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      bilSaleList: [],
      token: {},
      userId: null,
      role: "",
      showDialog: false,
    };
  },

  async created() {
    this.token = this.$cookies.get("token");
    this.userId = this.token.userId
    this.role = this.token.role;
    await this.getBillSale();
  },
  methods: {
    async getBillSale() {
      await this.axios
        .get("http://localhost:3000/billSales/only/"+ this.userId)
        .then((result) => {
          this.bilSaleList = result.data.data;
        })
        .catch((err) => {
          alert("get BillSale Error" + err);
        });
    },

    billSaleById(item) {
      this.bilSaleList.orderId = item.orderId;
      this.bilSaleList.purchaser = item.purchaser;
      this.bilSaleList.productList = item.productList;
      this.bilSaleList.totalAmount = item.totalAmount;
      this.showDialog = !this.showDialog;
    },
  },
};
</script>

<style>
.txx {
  border: 1px solid black;
}
</style>
