<template>
  <div>
    <div class="d-flex justify-center">
      <div>
        <v-sheet class="bg-pink pa-12" rounded>
          <v-card class="mx-auto px-6 py-8" max-width="344">
            <v-card-title class="justify-center">
              <h3>ลงทะเบียน</h3>
            </v-card-title>

            <v-form v-model="form" @submit.prevent="onSubmit">
              <v-row class="d-flex justify-center">
                <v-col cols="6">
                  <v-text-field
                    v-model="postData.firstName"
                    :readonly="loading"
                    :rules="[required]"
                    class="mb-2"
                    label="ชื่อจริง"
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="postData.lastName"
                    :readonly="loading"
                    :rules="[required]"
                    class="mb-2"
                    label="นามสกุล"
                    clearable
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row class="d-flex justify-center">
                <v-col cols="6">
                  <v-text-field
                    v-model="postData.username"
                    :readonly="loading"
                    :rules="[required]"
                    class="mb-2"
                    label="ชื่อผู้ใช้"
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    v-model="postData.password"
                    :readonly="loading"
                    :rules="[required]"
                    class="mb-2"
                    type="password"
                    label="รหัสผ่าน"
                    clearable
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row class="d-flex justify-center">
                <v-col cols="6">
                  <v-text-field
                    v-model="postData.age"
                    :readonly="loading"
                    :rules="[required]"
                    class="mb-2"
                    label="อายุ"
                    hide-spin-buttons
                    type="number"
                    min="1"
                    max="100"
                    clearable
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-autocomplete
                    v-model="postData.gender"
                    :items="genders"
                    label="เพศ"
                    placeholder="เลือก"
                    required
                    :rules="[required]"
                    clearable
                  ></v-autocomplete>
                </v-col>
              </v-row>
              <br />
              <v-btn
                :disabled="!form"
                :loading="loading"
                color="success"
                size="large"
                type="submit"
                variant="elevated"
                block
              >
                สมัครบัญชีผู้ใช้
              </v-btn>

              <v-card-text class="text-center">
                <a
                  class="text-blue text-decoration-none"
                  href="/login"
                  rel="noopener noreferrer"
                >
                  เข้าสู่ระบบ <v-icon icon="mdi-chevron-right"></v-icon>
                </a>
              </v-card-text>
            </v-form>
          </v-card>
        </v-sheet>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    form: false,
    genders: ["ชาย", "หญิง"],
    postData: {
      firstName: null,
      lastName: null,
      username: null,
      password: null,
      age: null,
      gender: null,
    },
    loading: false,
  }),

  methods: {
    async onSubmit() {
      if (!this.form) return;

      if (this.postData.gender === "ชาย") {
        this.postData.gender = "M";
      } else if (this.postData.gender === "หญิง") {
        this.postData.gender = "F";
      }
      await this.axios
        .post("http://localhost:3000/users/register", this.postData)
        .then((res) => {
          if (res.data.success === true) {
            this.$swal({
              title: "ลงทะเบียนสำเร็จ",
              text: "กรุณา Login เพื่อทำการเข้าสู่ระบบ",
              icon: "success",
              timer: 2000,
            });
            this.$router.push("login");
          }
        })
        .catch(() => {
          this.$swal({
            title: "ลงทะเบียนไม่สำเร็จ",
            text: "กรุณาทำการลงทะเบียนใหม่อีกครั้ง",
            icon: "error",
          }).then(() => {
            location.reload();
          });
        });
    },
    required(v) {
      return !!v || "Field is required";
    },
  },
};
</script>

<style></style>
